/* Seletores de tag -------------------------------------------------*/
    html{
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar{
        width: 8px;
    }

    body::-webkit-scrollbar-track{
        background: #1E1E1F;
    }

    body::-webkit-scrollbar-thumb{
        background-color: rgba(80, 80, 80, 0.3);
        border-radius: 2px;
    }

    body {
        background-color: #121212;
        padding: 10px;
    }

    label kbd{
        font-size: 0.8em;
    }

    input{
        background-color: #383838 !important;
        border: solid 1px #383838 !important;
        color: #C9D1D9 !important;
        height: 40px !important;
    }

    textarea{
        padding: 0px;
        background-color: #383838 !important;
        border: solid 1px #383838 !important;
        color: #C9D1D9 !important;
    }

    textarea::-webkit-scrollbar{
        width: 8px;
    }

    textarea::-webkit-scrollbar-track{
        background: #1E1E1F;
    }

    textarea::-webkit-scrollbar-thumb{
        background-color: rgba(80, 80, 80, 0.3);
        border-radius: 2px;
    }

    input:focus{
        box-shadow: none !important;
        border: solid 2px #383838 !important;
        color: #C9D1D9;
    }

    form details{
        margin: 20px 0px 20px 0px;
        background-color: #1b1b1c !important;
        border: solid 2px #383838 !important;
        border-radius: 5px;
    }

    details summary::marker {
        display: none !important;
    }

    p:last-of-type{
        margin: 0;
    }

    p, h1{
        color: #dadada !important;
    }

    hr{
        border-color: #383838 !important;
        width: 100%;
        margin: 0 !important ;
    }

    summary small{
        font-size: 0.7rem;
    }

    small{
        color: #383838;
    }

    article section:last-of-type{
        margin-bottom: 0px;
    }

    aside a{
        color: #c9D1D9;
    }

    aside a:hover{
        color: #c9D1D9;
        text-decoration: underline;
    }

    article img{
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        max-height: 30vh;
    }

    article a:hover{
        text-decoration: none;
        cursor: pointer;
    }

    section figure{
        margin: 20px 0px 0px 0px;
    }

    figure{
        margin: 20px 0px 0px 0px;
    }

    figcaption{
        color: #dadada;
        font-size: 0.8em;
    }

    kbd{
        background-color: #383838 !important;
    }

    code{
        background-color: #383838 !important;
        border-radius: 5px;
        color: #dadada!important;
    }

    pre {
        background: #383838 !important;
        padding: 0.5em ;
        border: 1px solid #c9D1D9;
        border-radius: 5px;
        color: #c9D1D9;
        font-family: monospace;
        max-width: 100%;
        overflow: auto;
        display: block;
        word-wrap: break-word;
        max-height: 60vh;
    }

/* Seletores de ID ----------------------------------------------*/
    #activity{
        border-radius: 5px;
        background-color: #171717 !important;
        border: 1px solid #383838;
    }

    #activity h1{
        font-size: 1.6em;
    }

    #about-me img{
        margin: auto;
        display: block;
        border: solid 2px #383838 !important;
        border-radius: 50px;
        width: 75px !important;
        height: 75px !important;
        margin-bottom: 10px;
    }

    #about-me ul{
        list-style: none !important;
    }

    #contact a{
        color: #383838 !important;
    }

    #contact a:hover{
        transition: linear 0.2s;
        transform: scale(1.1);
        color: #dadada !important;
    }

    #about-me{
        background-color: #1b1b1c;
    }

    #pesquisa input{
        border: solid 1px #383838 !important;
        background-color: #171717 !important;
    }

    #pesquisa article{
        border-radius: 5px;
        background-color: #171717;
        border: 1px solid #383838;
        margin: 20px 0px 20px 0px;
    }


    #pesquisa article:last-of-type{
        border-radius: 5px;
        background-color: #171717;
        border: 1px solid #383838;
        margin: 20px 0px 0px 0px;
    }


    #pesquisa article:hover{
        border: 2px solid #383838;
    }

    #summary details {
        border-radius: 5px;
        border: 1px solid #383838;
        background-color: #171717;
    }

    #summary summary{
        border-radius: 5px;
    }

    #summary a{
        margin: 10px 0px 10px 0px;
        text-decoration: underline;
    }

    #summary a:hover{
        color: #0056B3;
    }
/* Seletores de classe ----------------------------------------------*/
    .aside{
        background-color: #1E1E1F;
        border-radius: 5px;
        position: sticky;
        height: fit-content;
        top: 10px;
        overflow-wrap: break-word;
        padding: 0;
    }

    .main{
        background-color: #1E1E1F;
        border-radius: 5px;
        height: fit-content;
        overflow-wrap: break-word;
        padding: 0;
    }

    .green{
        color: green !important;
    }

    .red{
        color: #ff7e7e !important;
    }

    .pulse{
        animation: pulse 1.5s infinite;
    }

    .btn-primary{
        background-color: #FFFFFF !important;
        border: solid 1px #c9D1D9 !important;
        color: #1E1E1F !important;
        border-radius: 5px;
    }

    .btn-primary:hover{
        transition: 0.2s linear;
        background-color: #FFFFFF !important;
        border: solid 1px #c9D1D9 !important;
        color: #1E1E1F !important;
        border-radius: 5px;
        font-weight: bold;
    }

    .btn-secondary{
        background-color: rgba(255, 255, 255, 0) !important;
        border: solid 1px #c9D1D9 !important;
        color: #c9D1D9 !important;
        border-radius: 5px;
    }

    .btn-secondary:hover{
        transition: 0.2s linear;
        background-color: #c9D1D9 !important;
        border: solid 1px #c9D1D9 !important;
        color: #1E1E1F !important;
        border-radius: 5px;
    }

    .btn-danger{
        background-color: rgba(255, 50, 50, 0) !important;
        border: solid 1px #ff7e7e !important;
        color: #ff7e7e !important;
        border-radius: 5px;
    }

    .btn-danger:hover{
        transition: 0.2s linear;
        background-color: #ff7e7e !important;
        border: solid 1px #ff7e7e !important;
        color: #1E1E1F !important;
        border-radius: 5px;
    }

    .btn-success{
        background-color: rgba(255, 50, 50, 0) !important;
        border: solid 1px green !important;
        color: green !important;
        border-radius: 5px;
    }

    .btn-success:hover{
        transition: 0.2s linear;
        background-color: green !important;
        border: solid 1px green !important;
        color: #1E1E1F !important;
        border-radius: 5px;
    }

    .danger-input{
        border: solid 1px #ff7e7e !important;
        color: #ff7e7e !important;
        background-color: #1b1b1c !important;
    }

    .danger-label{
        color: #ff7e7e;
    }

    .w-49{
        width: 49% !important;
    }
/* Fontes ------------------------------------------------------------*/
    .ubuntu-light {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .ubuntu-regular {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .ubuntu-bold {
        font-family: "Ubuntu", sans-serif;
        font-weight: 575;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 575;
        font-style: normal;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }
/* Proporção tipografia --------------------------------------------------*/
    h1{font-size: 1.3rem}
    h2{font-size: 1.2rem}
    h3{font-size: 1.1rem}
    p{font-size: 1rem}
    small{font-size: 0.9rem}
/* Keyframe animação ----------------------------------------------------------*/
    @keyframes pulse{
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
/* Media Queries ----------------------------------------------------------*/
    @media (max-width: 767px) {
        .aside{
            position: static;
            margin-bottom: 10px;
        }
    }